{% extends "layouts/base.html" %}

{% block title %} Sign up {% endblock %}

{% block content %}
<h2>Sign up</h2>
<form method = "post">
    {% csrf_token %}
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br>
    <label for="email">Email address:</label><br>
    <input type="text" id="email" name="email"><br>
    <label for="passwd">Password:</label><br>
    <input type="password" id="passwd" name="passwd"><br>
    <button type="submit" value="Sign up">Sign Up</button>
    <p style="color:red;">{{error_messege}}</p>
</form> 
{% endblock content %}