<header>
    <table>
        <tr>
            <td>
                <a href='/'>Toy Store</a>
            </td>
            <td>
                <a href='/baby-toys'>Baby Toys</a>
            </td>
            <td>
                <a href='/outdoors'>Outdoors</a>
            </td>
            <td>
                <a href='/dolls-and-playsets'>Dolls and Playsets</a>
            </td>
            <td>
                <a href='/cars-and-bikes'>Cars and Bikes</a>
            </td>
        </tr>
    </table>
</header>